/* Arka plan rengi eski haline getirildi */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Slayt gösterisi */
.slideshow-container {
    position: relative;
    margin: auto;
    max-width: 250px; /* Resim genişliği 250px olarak ayarlandı */
    overflow: hidden;
}

.mySlides img {
    display: block;
    width: 100%;
    height: auto; /* Görsellerin yüksekliği otomatik ayarlandı */
    max-width: 150px; /* Görsellerin genişliği maksimum 150px olacak */
    margin: auto;
}

/* Instagram bağlantıları */
.instagram-links {
    text-align: center;
    margin-top: 20px;
}

.instagram-links a {
    display: block; /* Alt alta sıralandı */
    font-size: 20px;
    color: #333;
    text-decoration: none;
    margin: 5px 0;
}

.instagram-links a:hover {
    color: #007bff; /* Hover durumunda renk değişimi */
}
