body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    padding: 50px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    padding: 50px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery a {
    text-decoration: none;
    color: #333;
}

.gallery img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}
body {
    background-color: #ff0655; /* Pembe tonu */
    color: rgb(0, 0, 0); /* Metin rengi */
}
body {
    background-color: #ff95df; /* Pembe tonu */
    color: rgb(0, 0, 0); /* Metin rengi */
}

.container img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
/* Dil Seçme Butonları */
.language-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.language-buttons button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.love-message {
    text-align: center;
    font-size: 18px;
    color: red; /* Romantik bir renk seçilebilir */
}
.date-time {
    position: fixed;
    top: 19px;
    right: 19px;
    font-size: 19px;
    color: rgb(0, 0, 0);
}
@media screen and (max-width: 768px) {
    /* Mobil cihazlar için stil ayarlamaları */
}

@media screen and (max-width: 480px) {
    /* Daha küçük mobil cihazlar için stil ayarlamaları */
}
