/* Genel Stil */
body {
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Başlık ve İçerik */
h1, h2 {
    margin-top: 20px;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.gallery img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Yukarı Çık Butonu */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.scroll-to-top:hover {
    background-color: #0056b3;
}

/* Diğer Stiller */
.spotify-link {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0070f3;
    color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.spotify-link:hover {
    background-color: #0055cb;
}

.wish-text {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 26px;
    color: #333333;
}

.romantic-message {
    font-size: 18px;
    margin-bottom: 20px;
}
