/* Genel Stil */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Eski arka plan rengi */
}

/* Navigasyon */
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Ana Başlık */
h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
}

/* Bölüm Başlıkları */
h2 {
    text-align: center;
    color: #444;
    margin-top: 50px;
}

/* Container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Geri Sayım */
#countdown {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
}

#timer {
    font-size: 28px;
    font-weight: bold;
}

/* Resim Galerisi */
.slideshow-container {
    position: relative;
    margin: auto;
    max-width: 200px; /* Galeri genişliği 500px olarak sabitlendi */
    overflow: hidden;
}

.mySlides {
    display: none;
    width: 100%; /* Resimlerin genişliği %100 olacak */
    max-height: 100px; /* Orta boyut */
    object-fit: cover; /* Aynı boyutta göster */
    transition: opacity 1s ease;
}

/* Instagram Bağlantıları */
.instagram-link {
    font-size: 20px;
    text-align: center;
    display: block;
    margin-top: 20px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
    text-decoration: none;
}

.instagram-link:hover {
    color: #007bff;
}

/* Yukarı Çık Butonu */
.scroll-to-top {
    position: fixed;
    bottom: 60px; /* Yukarı Çık butonunun üzerinde */
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.scroll-to-top:hover {
    background-color: #0056b3;
}

/* Mobile View */
@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .container {
        width: 100%;
        padding: 10px;
    }
}
